<div style="padding: 20px; margin-top: 2px; background-color: #e9ecef; border-radius: 10px;">
	<div class="row">
		<div class="col-md-3">
			Dari
			<input type="text" placeholder="search ..." class="input-city" id="from_code" onkeyup="filter('from')" onclick="document.getElementById('dropdown-from').style.display = 'block';">
			<ul class="dropdown-list" id="dropdown-from"></ul>
		</div>
		<div class="col-md-3">
			Ke
			<input type="text" placeholder="search ..." class="input-city" id="to_code" onkeyup="filter('to')" onclick="document.getElementById('dropdown-to').style.display = 'block';">
			<ul class="dropdown-list" id="dropdown-to"></ul>
		</div>
		<div class="col-md-3">
			Tanggal
			<input type="text" placeholder="dd-mm-yyyy" class="input-city" id="date">
		</div>
		<div class="col-md-3">
			&nbsp;
			<input type="submit" class="input-city" value="Cari" onclick="search('scrapper/search');">
		</div>
	</div>
</div>
<div style="margin-top: 10px;">
	<div id="searchload"></div>
	<div id="searchexpand"></div>
</div>
