<?php
	$list = $this->list;
	$route = $this->from_code . '-' . $this->to_code . ' (' . date('d/m/Y', $list[1]['longdate']) . ')';
?>
<label style="font-size:18px; font-weight:bold;"><?= $route; ?></label>
<div class="grid">
	<span style="font-weight: bold;">Flight</span>
	<span style="font-weight: bold;">Route</span>
	<span style="font-weight: bold;">Depart</span>
	<span style="font-weight: bold;">Arrive</span>
	</tr>
	<?php foreach ($list as $data) { ?>
	<span><?= str_replace('##', '<br>', $data['flight']); ?></span>
	<span><?= str_replace('##', '<br>', $data['route']); ?></span>
	<?php
		$time_temp = explode(' ', $data['str_time']);
		$time_depart = $time_temp[0];
		$time_arrive = $time_temp[1];
	?>
	<span><?= str_replace('##', '<br>', $time_depart); ?></span>
	<span><?= str_replace('##', '<br>', $time_arrive); ?></span>
	<?php } ?>
</table>
