.dropdown-list {
	list-style: none;
	padding: 5px;
	overflow-y: auto;
	position: absolute;
	height: 200px;
	width: 300px;
	margin-top: 0px;
	border: 1px solid rgb(234, 234, 234);
	display: none;
	background-color: white;
	z-index: 1;
}
.dropdown-list li {
	display: block;
	padding: 10px 10px;
	border-bottom: 1px solid rgb(234, 234, 234);
}
.input-city {
	box-sizing: border-box;
	padding: 5px 5px;
	width: 100%;
	position: relative;
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #e8e6e6;
}
.grid > span {
	padding: 10px;
	border: 1px solid #ffffff;
}
